# API
fastapi
uvicorn[standard]
pg8000


# ML & Data
numpy
pandas
scikit-learn
imblearn
catboost
lightgbm
joblib
scipy

# Visualization
matplotlib
seaborn
plotly

# Database
SQLAlchemy


# Web Frontend
requests

# Testing
pytest
pytest-cov

# Utility
python-dotenv
pydantic

# Optional (для удобной работы с Jupyter)
jupyter
notebook

